{
  "servers": {
    "localhost": {
      "server": "http://localhost:@jetty.http.port@/exist",
      "user": "admin",
      "password": ""
    }
  },
  "sync": {
    "server": "localhost",
    "root": "/db/apps/dracor-v1",
    "active": true,
    "ignore": [
      ".existdb.json*",
      ".git/**",
      "build.xml",
      "build.properties",
      "build/**",
      "compose*.yml",
      "devel/**",
      "*.xar"
    ]
  }
}
