<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg"
  name="@project.name@"
  abbrev="@project.abbrev@"
  version="@project.version@"
  spec="1.0">
  <title>@project.title@</title>
  <dependency processor="http://exist-db.org" semver-min="4.5.0"/>
  <dependency package="http://exist-db.org/apps/shared"/>
  <dependency package="http://expath.org/ns/crypto" semver="0.3.5"/>
  <dependency package="http://exist-db.org/xquery/sparql"/>
</package>
